body {
    background-color: rgb(24 24 27);
    color: #fff;
    margin: 100px;
    font-family: 'Russo One', sans-serif;
}
.login_and_pass h1 {
    text-align: center;
}
.wrapper_pers {
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.login_and_pass {
    margin: 0 auto;
    width: 200px;
}
button {
    background-color: rgb(168 162 158);
    text-align: center;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
}
.register_p {
    text-align: center;
    font-size: 13px;
    text-decoration: underline;
}
input {
    margin-bottom: 15px;
    background-color: rgb(63 63 70);;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    color: rgb(113 113 122);
}
.center_inputs {
    text-align: center;
}